.h1-landing-page{
    font-size: 68px;
    background: linear-gradient(
      300deg,
      rgb(0, 191, 143),
      rgb(117, 89, 255)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  
    font-family: "Arial", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
  }